# Customer Return Calculation with Rule Based Classification
# Kural Tabanlı Sınıflandırma ile Potansiyel Müşteri Getirisi Hesaplama

![image.png](attachment:image.png)

Photo by: https://online.hbs.edu/blog/post/how-to-calculate-roi-for-a-project

**Business Problem**

A game company wants to create a new level based customer definitions(personas) by using some of the features and wants to create segments according to these new customer definitions. Also, they want to estimate how much they can earn on average.

For example: The company want to determine how much a 25-year-old male user from Turkey, who is an IOS user, can earn on average.

**İş Problemi**

Bir oyun şirketi müşterilerinin bazı özelliklerini kullanarak seviye tabanlı (level based) yeni müşteri tanımları (persona)
oluşturmak ve bu yeni müşteri tanımlarına göre segmentler oluşturup bu segmentlere göre yeni gelebilecek müşterilerin şirkete
ortalama ne kadar kazandırabileceğini tahmin etmek istemektedir.

Örneğin: Türkiye’den IOS kullanıcısı olan 25 yaşındaki bir erkek kullanıcının ortalama ne kadar kazandırabileceği belirlenmek isteniyor.

**Dataset History**

Persona.csv dataset contains the prices of the products sold by an international game company and some demographic information of the users who buy these products. The data set consists of records created in each sales transaction. This means that the table is not deduplicated. In other words, a user with certain demographic characteristics may have made more than one purchase.


* Price : Price of the game
* Source : Platform of the game was downloaded
* Sex : Gender of the user
* Country : Country where the user downloaded the game
* Age : Age of the user

**Veri Seti Hikayesi**

Persona.csv veri seti uluslararası bir oyun şirketinin sattığı ürünlerin fiyatlarını ve bu ürünleri satın alan kullanıcıların bazı demografik bilgilerini barındırmaktadır. Veri seti her satış işleminde oluşan kayıtlardan meydana gelmektedir. Bunun anlamı tablo tekilleştirilmemiştir. Diğer bir ifade ile belirli demografik özelliklere sahip bir kullanıcı birden fazla alışveriş yapmış olabilir.

* Price: Müşterinin harcama tutarı
* Source: Müşterinin bağlandığı cihaz türü
* Sex: Müşterinin cinsiyeti
* Country: Müşterinin ülkesi
* Age: Müşterinin yaşı

In [ ]:
################# Dataset appearance at the beginning/ Uygulama Öncesi #####################

#    PRICE   SOURCE   SEX COUNTRY  AGE
# 0     39  android  male     bra   17
# 1     39  android  male     bra   17
# 2     49  android  male     bra   17
# 3     29  android  male     tur   17
# 4     49  android  male     tur   17

################# Dataset appearance at the end/ Uygulama Sonrası #####################

#       customers_level_based        PRICE SEGMENT
# 0   BRA_ANDROID_FEMALE_0_18  1139.800000       A
# 1  BRA_ANDROID_FEMALE_19_23  1070.600000       A
# 2  BRA_ANDROID_FEMALE_24_30   508.142857       A
# 3  BRA_ANDROID_FEMALE_31_40   233.166667       C
# 4  BRA_ANDROID_FEMALE_41_66   236.666667       C

# PROJECT ASSIGNMENTS

# PROJE GÖREVLERİ

In [ ]:
# ASSIGNMENTS 1: Answer the following questions.
# GÖREV 1: Aşağıdaki soruları yanıtlayınız.

In [ ]:
# Question  1: Read the persona.csv file and show the general information about the dataset.
# Soru 1: persona.csv dosyasını okutunuz ve veri seti ile ilgili genel bilgileri gösteriniz.
import pandas as pd
pd.set_option("display.max_rows", None)
df = pd.read_csv(r"persona.csv")
df.head()

   PRICE   SOURCE   SEX COUNTRY  AGE
0     39  android  male     bra   17
1     39  android  male     bra   17
2     49  android  male     bra   17
3     29  android  male     tur   17
4     49  android  male     tur   17

In [ ]:
df.shape

(5000, 5)

In [ ]:
df["SEX"].value_counts()

female    2621
male      2379
Name: SEX, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   PRICE    5000 non-null   int64
 1   SOURCE   5000 non-null   object
 2   SEX      5000 non-null   object
 3   COUNTRY  5000 non-null   object
 4   AGE      5000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 234.4+ KB

In [ ]:
df.dtypes

PRICE       int64
SOURCE     object
SEX        object
COUNTRY    object
AGE         int64
dtype: object

In [ ]:
# Question 2: How many unique SOURCE? What is their frequency?
# Soru 2: Kaç unique SOURCE vardır? Frekansları nedir?
df["SOURCE"].nunique()

2

In [ ]:
df["SOURCE"].value_counts()

android    2974
ios        2026
Name: SOURCE, dtype: int64

In [ ]:
# Question 3: How many unique Price are there?
# Soru 3: Kaç unique PRICE vardır?
df["PRICE"].nunique()

6

In [ ]:
# Question 4: How many sales were made from each PRICE?
# Soru 4: Hangi PRICE'dan kaçar tane satış gerçekleşmiş?
df["PRICE"].value_counts()

29    1305
39    1260
49    1031
19     992
59     212
9      200
Name: PRICE, dtype: int64

In [ ]:
df.groupby(["PRICE"]).agg({"PRICE":["count"]})

      PRICE
      count
PRICE
9       200
19      992
29     1305
39     1260
49     1031
59      212

In [ ]:
# Question 5: How many sales were made from each COUNTRY?
# Soru 5: Hangi ülkeden kaçar tane satış olmuş?
df["COUNTRY"].value_counts()

usa    2065
bra    1496
deu     455
tur     451
fra     303
can     230
Name: COUNTRY, dtype: int64

In [ ]:
df.groupby("COUNTRY")["PRICE"].count()

COUNTRY
bra    1496
can     230
deu     455
fra     303
tur     451
usa    2065
Name: PRICE, dtype: int64

In [ ]:
# Question 6: How much money was earned in total from sales by each COUNTRY?
# Soru 6: Ülkelere göre satışlardan toplam ne kadar kazanılmış?
df.groupby("COUNTRY")["PRICE"].sum()

COUNTRY
bra    51354
can     7730
deu    15485
fra    10177
tur    15689
usa    70225
Name: PRICE, dtype: int64

In [ ]:
df.head()

   PRICE   SOURCE   SEX COUNTRY  AGE
0     39  android  male     bra   17
1     39  android  male     bra   17
2     49  android  male     bra   17
3     29  android  male     tur   17
4     49  android  male     tur   17

In [ ]:
df.groupby("COUNTRY").agg({"PRICE": ["sum","mean","count"]})

         PRICE
           sum       mean count
COUNTRY
bra      51354  34.327540  1496
can       7730  33.608696   230
deu      15485  34.032967   455
fra      10177  33.587459   303
tur      15689  34.787140   451
usa      70225  34.007264  2065

In [ ]:
# Question 7: What are the average sales according to different SOURCE types?
# Soru 7: SOURCE türlerine göre göre satış sayıları nedir?
df["SOURCE"].value_counts()

android    2974
ios        2026
Name: SOURCE, dtype: int64

In [ ]:
# Question 8: What are the PRICE averages according to the countries?
# Soru 8: Ülkelere göre PRICE ortalamaları nedir?
df.groupby(by=['COUNTRY']).agg({"PRICE": "mean"})

             PRICE
COUNTRY
bra      34.327540
can      33.608696
deu      34.032967
fra      33.587459
tur      34.787140
usa      34.007264

In [ ]:
# Question 9: What are the PRICE averages according to the SOURCES?
# Soru 9: SOURCE'lara göre PRICE ortalamaları nedir?
df.groupby(by=['SOURCE']).agg({"PRICE": "mean"})

             PRICE
SOURCE
android  34.174849
ios      34.069102

In [ ]:
# Question 10: What are the PRICE averages in the COUNTRY-SOURCE breakdown?
# Soru 10: COUNTRY-SOURCE kırılımında PRICE ortalamaları nedir?
df.groupby(["COUNTRY", 'SOURCE']).agg({"PRICE": "mean"})

                     PRICE
COUNTRY SOURCE
bra     android  34.387029
        ios      34.222222
can     android  33.330709
        ios      33.951456
deu     android  33.869888
        ios      34.268817
fra     android  34.312500
        ios      32.776224
tur     android  36.229437
        ios      33.272727
usa     android  33.760357
        ios      34.371703

In [ ]:
# Assignment 2: What are the PRICE averages in the breakdown of COUNTRY, SOURCE, SEX, AGE?
# GÖREV 2: COUNTRY, SOURCE, SEX, AGE kırılımında ortalama kazançlar nedir?

df.groupby(["COUNTRY", 'SOURCE', "SEX", "AGE"]).agg({"PRICE": "mean"}).head()

                                PRICE
COUNTRY SOURCE  SEX    AGE
bra     android female 15   38.714286
                       16   35.944444
                       17   35.666667
                       18   32.255814
                       19   35.206897

In [ ]:
# ASSIGNMENT 3: Sort the output by PRICE.

# To see the output more clearly, apply the sort_values method to PRICE in descending order.
# Save the output as agg_df.

# GÖREV 3: Çıktıyı PRICE'a göre sıralayınız.

# Önceki sorudaki çıktıyı daha iyi görebilmek için sort_values metodunu azalan olacak şekilde PRICE'a uygulayınız.
# Çıktıyı agg_df olarak kaydediniz.

agg_df = df.groupby(by=["COUNTRY", 'SOURCE', "SEX", "AGE"]).agg({"PRICE": "mean"}).sort_values("PRICE", ascending=False)
agg_df.head()

                            PRICE
COUNTRY SOURCE  SEX    AGE
bra     android male   46    59.0
usa     android male   36    59.0
fra     android female 24    59.0
usa     ios     male   32    54.0
deu     android female 36    49.0

In [ ]:
df.groupby(["COUNTRY", 'SOURCE', "SEX", "AGE"]).agg({"PRICE": "mean"}).reset_index()

    COUNTRY   SOURCE     SEX  AGE      PRICE
0       bra  android  female   15  38.714286
1       bra  android  female   16  35.944444
2       bra  android  female   17  35.666667
3       bra  android  female   18  32.255814
4       bra  android  female   19  35.206897
5       bra  android  female   20  31.000000
6       bra  android  female   21  37.292683
7       bra  android  female   22  34.945946
8       bra  android  female   23  31.941176
9       bra  android  female   24  36.500000
10      bra  android  female   25  35.666667
11      bra  android  female   26  33.166667
12      bra  android  female   27  26.142857
13      bra  android  female   28  22.333333
14      bra  android  female   29  37.571429
15      bra  android  female   30  45.666667
16      bra  android  female   31  35.097561
17      bra  android  female   32  39.000000
18      bra  android  female   34  24.000000
19      bra  android  female   37  33.736842
20      bra  android  female   38  34.555556
21      bra  android  female   39  43.000000
22      bra  android  female   41  32.333333
23      bra  android  female   43  44.000000
24      bra  android  female   45  33.615385
25      bra  android  female   56  37.000000
26      bra  android    male   15  39.344828
27      bra  android    male   16  29.666667
28      bra  android    male   17  37.157895
29      bra  android    male   18  33.054054
30      bra  android    male   19  35.216216
31      bra  android    male   20  35.400000
32      bra  android    male   21  35.250000
33      bra  android    male   22  31.000000
34      bra  android    male   23  21.500000
35      bra  android    male   24  40.428571
36      bra  android    male   25  30.428571
37      bra  android    male   26  37.095238
38      bra  android    male   27  32.636364
39      bra  android    male   28  28.230769
40      bra  android    male   29  29.714286
41      bra  android    male   30  35.363636
42      bra  android    male   35  31.500000
43      bra  android    male   36  31.857143
44      bra  android    male   40  39.625000
45      bra  android    male   41  35.666667
46      bra  android    male   44  36.500000
47      bra  android    male   46  59.000000
48      bra  android    male   53  29.000000
49      bra      ios  female   15  36.777778
50      bra      ios  female   16  33.687500
51      bra      ios  female   17  32.636364
52      bra      ios  female   18  36.500000
53      bra      ios  female   19  39.000000
54      bra      ios  female   20  32.846154
55      bra      ios  female   22  44.000000
56      bra      ios  female   23  29.769231
57      bra      ios  female   24  34.000000
58      bra      ios  female   25  39.000000
59      bra      ios  female   26  34.333333
60      bra      ios  female   27  34.000000
61      bra      ios  female   28  32.333333
62      bra      ios  female   29  30.428571
63      bra      ios  female   31  27.571429
64      bra      ios  female   33  35.363636
65      bra      ios  female   34  19.000000
66      bra      ios  female   35  32.333333
67      bra      ios  female   37  35.111111
68      bra      ios  female   42  39.000000
69      bra      ios  female   45  35.363636
70      bra      ios  female   46  33.000000
71      bra      ios  female   54  34.000000
72      bra      ios    male   15  36.878788
73      bra      ios    male   16  33.761905
74      bra      ios    male   17  35.333333
75      bra      ios    male   18  32.684211
76      bra      ios    male   19  34.000000
77      bra      ios    male   21  31.000000
78      bra      ios    male   22  37.181818
79      bra      ios    male   23  34.882353
80      bra      ios    male   24  33.864865
81      bra      ios    male   31  29.000000
82      bra      ios    male   33  37.571429
83      bra      ios    male   34  34.714286
84      bra      ios    male   35  36.777778
85      bra      ios    male   36  22.333333
86      bra      ios    male   37  29.000000
87      bra      ios    male   42  30.111111
88      bra      ios    male   43  42.333333
89      bra      ios    male   44  33.545455
90      bra      ios    male   47  19.000000
91      bra      ios    male   66  30.428571
92      can  android  female   15  25.666667
93      can  android  female   16  29.689655
94      can  android  female   18  37.333333
95      can  android  female   19  32.529412
96      can  android  female   20  31.500000
97      can  android  female   27  19.000000
98      can  android  female   43  34.000000
99      can  android    male   15  36.000000
100     can  android    male   20  40.111111
101     can  android    male   24  29.769231
102     can  android    male   30  40.250000
103     can  android    male   49  37.571429
104     can      ios  female   15  33.705882
105     can      ios  female   16  29.000000
106     can      ios  female   29  31.727273
107     can      ios    male   15  37.571429
108     can      ios    male   16  35.000000
109     can      ios    male   17  37.666667
110     can      ios    male   25  31.173913
111     can      ios    male   32  29.000000
112     can      ios    male   57  31.000000
113     deu  android  female   15  32.000000
114     deu  android  female   16  27.000000
115     deu  android  female   17  33.736842
116     deu  android  female   21  31.000000
117     deu  android  female   22  35.000000
118     deu  android  female   23  34.000000
119     deu  android  female   24  35.363636
120     deu  android  female   25  34.454545
121     deu  android  female   27  32.125000
122     deu  android  female   28  32.333333
123     deu  android  female   33  29.000000
124     deu  android  female   34  32.333333
125     deu  android  female   36  49.000000
126     deu  android  female   38  39.000000
127     deu  android  female   41  27.750000
128     deu  android  female   44  31.500000
129     deu  android  female   51  49.000000
130     deu  android    male   15  46.500000
131     deu  android    male   17  32.913043
132     deu  android    male   18  32.333333
133     deu  android    male   19  31.222222
134     deu  android    male   20  41.727273
135     deu  android    male   21  34.000000
136     deu  android    male   23  37.333333
137     deu  android    male   24  29.000000
138     deu  android    male   26   9.000000
139     deu  android    male   31  32.333333
140     deu  android    male   32  29.000000
141     deu  android    male   33  35.363636
142     deu  android    male   34  45.000000
143     deu  android    male   37  38.166667
144     deu      ios  female   15  30.666667
145     deu      ios  female   16  35.557377
146     deu      ios  female   17  37.823529
147     deu      ios  female   18  37.333333
148     deu      ios  female   22  34.000000
149     deu      ios  female   23  34.000000
150     deu      ios  female   24  29.000000
151     deu      ios  female   26  36.000000
152     deu      ios  female   32  33.000000
153     deu      ios    male   16  39.000000
154     deu      ios    male   17  35.000000
155     deu      ios    male   20  49.000000
156     deu      ios    male   23  29.000000
157     deu      ios    male   25  35.000000
158     deu      ios    male   30  31.000000
159     deu      ios    male   32  31.352941
160     deu      ios    male   42  37.000000
161     fra  android  female   15  37.571429
162     fra  android  female   16  36.727273
163     fra  android  female   17  34.652174
164     fra  android  female   19  27.333333
165     fra  android  female   21  39.000000
166     fra  android  female   23  32.125000
167     fra  android  female   24  59.000000
168     fra  android  female   26  31.857143
169     fra  android  female   35  34.000000
170     fra  android    male   15  30.250000
171     fra  android    male   18  19.000000
172     fra  android    male   19  40.538462
173     fra  android    male   21  25.666667
174     fra  android    male   23  41.307692
175     fra  android    male   25  33.000000
176     fra  android    male   32  32.333333
177     fra  android    male   33  39.000000
178     fra  android    male   46  32.333333
179     fra  android    male   55  35.666667
180     fra      ios  female   15  33.615385
181     fra      ios  female   16  27.750000
182     fra      ios  female   18  32.571429
183     fra      ios  female   25  25.000000
184     fra      ios  female   28  30.428571
185     fra      ios  female   31  32.636364
186     fra      ios  female   40  33.000000
187     fra      ios    male   15  29.000000
188     fra      ios    male   16  30.666667
189     fra      ios    male   17  40.666667
190     fra      ios    male   19  35.666667
191     fra      ios    male   20  49.000000
192     fra      ios    male   22  35.000000
193     fra      ios    male   26  34.000000
194     fra      ios    male   27  29.000000
195     fra      ios    male   31  38.375000
196     fra      ios    male   38  29.000000
197     fra      ios    male   51  39.000000
198     tur  android  female   15  41.000000
199     tur  android  female   16  34.555556
200     tur  android  female   17  33.687500
201     tur  android  female   18  41.500000
202     tur  android  female   19  31.000000
203     tur  android  female   20  32.333333
204     tur  android  female   21  37.000000
205     tur  android  female   26  37.571429
206     tur  android  female   29  24.000000
207     tur  android  female   31  40.666667
208     tur  android  female   32  43.000000
209     tur  android  female   49  39.000000
210     tur  android  female   50  32.333333
211     tur  android  female   52  36.142857
212     tur  android  female   56  29.000000
213     tur  android    male   15  42.333333
214     tur  android    male   16  38.285714
215     tur  android    male   17  39.000000
216     tur  android    male   21  19.000000
217     tur  android    male   22  35.666667
218     tur  android    male   24  35.923077
219     tur  android    male   25  41.500000
220     tur  android    male   26  39.666667
221     tur  android    male   27  40.666667
222     tur  android    male   36  29.000000
223     tur  android    male   49  39.000000
224     tur      ios  female   16  29.000000
225     tur      ios  female   17  30.176471
226     tur      ios  female   18  44.000000
227     tur      ios  female   19  35.666667
228     tur      ios  female   20  37.333333
229     tur      ios  female   21  40.666667
230     tur      ios  female   22  32.636364
231     tur      ios  female   23  34.000000
232     tur      ios  female   25  34.000000
233     tur      ios  female   26  34.000000
234     tur      ios  female   31  39.000000
235     tur      ios  female   38  25.666667
236     tur      ios  female   51  34.000000
237     tur      ios    male   15  32.846154
238     tur      ios    male   16  39.000000
239     tur      ios    male   17  34.806452
240     tur      ios    male   19  27.333333
241     tur      ios    male   21  22.333333
242     tur      ios    male   24  45.000000
243     tur      ios    male   37  42.333333
244     tur      ios    male   42  31.105263
245     tur      ios    male   47  19.000000
246     usa  android  female   15  32.666667
247     usa  android  female   16  34.901639
248     usa  android  female   17  34.625000
249     usa  android  female   18  32.404255
250     usa  android  female   19  35.764706
251     usa  android  female   20  31.285714
252     usa  android  female   21  34.185185
253     usa  android  female   22  33.800000
254     usa  android  female   23  33.102564
255     usa  android  female   24  30.052632
256     usa  android  female   25  34.000000
257     usa  android  female   26  30.777778
258     usa  android  female   27  29.000000
259     usa  android  female   28  34.789474
260     usa  android  female   30  29.000000
261     usa  android  female   31  35.000000
262     usa  android  female   32  28.166667
263     usa  android  female   33  37.181818
264     usa  android  female   34  28.000000
265     usa  android  female   35  35.666667
266     usa  android  female   42  34.000000
267     usa  android  female   44  32.333333
268     usa  android  female   47  49.000000
269     usa  android  female   49  35.250000
270     usa  android  female   61  45.666667
271     usa  android    male   15  34.663717
272     usa  android    male   16  34.000000
273     usa  android    male   17  34.454545
274     usa  android    male   18  35.190476
275     usa  android    male   19  32.809524
276     usa  android    male   20  36.647059
277     usa  android    male   21  32.333333
278     usa  android    male   22  34.714286
279     usa  android    male   23  34.849057
280     usa  android    male   24  26.058824
281     usa  android    male   25  34.000000
282     usa  android    male   26  37.000000
283     usa  android    male   27  33.285714
284     usa  android    male   28  34.384615
285     usa  android    male   29  22.333333
286     usa  android    male   30  36.142857
287     usa  android    male   31  34.714286
288     usa  android    male   34  29.000000
289     usa  android    male   35  34.714286
290     usa  android    male   36  59.000000
291     usa  android    male   37  29.000000
292     usa  android    male   38  29.000000
293     usa  android    male   41  35.428571
294     usa  android    male   42  33.000000
295     usa  android    male   43  39.909091
296     usa  android    male   47  41.500000
297     usa  android    male   51  35.875000
298     usa  android    male   57  29.000000
299     usa  android    male   65  25.666667
300     usa      ios  female   15  33.857143
301     usa      ios  female   16  31.500000
302     usa      ios  female   17  38.459459
303     usa      ios  female   18  32.913043
304     usa      ios  female   19  39.285714
305     usa      ios  female   20  35.000000
306     usa      ios  female   21  35.800000
307     usa      ios  female   22  34.000000
308     usa      ios  female   23  32.809524
309     usa      ios  female   24  32.750000
310     usa      ios  female   25  38.000000
311     usa      ios  female   26  36.857143
312     usa      ios  female   27  31.500000
313     usa      ios  female   28  36.142857
314     usa      ios  female   29  35.666667
315     usa      ios  female   30  19.000000
316     usa      ios  female   33  34.555556
317     usa      ios  female   34  30.875000
318     usa      ios  female   35  29.625000
319     usa      ios  female   38  19.000000
320     usa      ios  female   42  29.000000
321     usa      ios  female   47  34.714286
322     usa      ios  female   50  30.304348
323     usa      ios  female   59  41.500000
324     usa      ios  female   65  35.000000
325     usa      ios    male   15  33.729730
326     usa      ios    male   16  34.714286
327     usa      ios    male   17  32.913043
328     usa      ios    male   18  34.576923
329     usa      ios    male   20  34.000000
330     usa      ios    male   21  38.534884
331     usa      ios    male   22  32.170732
332     usa      ios    male   25  31.857143
333     usa      ios    male   26  34.000000
334     usa      ios    male   27  35.111111
335     usa      ios    male   28  42.333333
336     usa      ios    male   29  24.000000
337     usa      ios    male   30  41.727273
338     usa      ios    male   31  41.000000
339     usa      ios    male   32  54.000000
340     usa      ios    male   33  30.304348
341     usa      ios    male   36  24.000000
342     usa      ios    male   37  31.727273
343     usa      ios    male   42  30.250000
344     usa      ios    male   50  39.000000
345     usa      ios    male   53  34.000000
346     usa      ios    male   55  29.000000
347     usa      ios    male   59  46.500000

In [ ]:
# ASSIGNMENT 4: Convert the names in the index to variable names.


# GÖREV 4: Indekste yer alan isimleri değişken ismine çeviriniz.

# Üçüncü sorunun çıktısında yer alan PRICE dışındaki tüm değişkenler index isimleridir.
# Bu isimleri değişken isimlerine çeviriniz.
# İpucu: reset_index()

agg_df = agg_df.reset_index()
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE
0     bra  android    male   46   59.0
1     usa  android    male   36   59.0
2     fra  android  female   24   59.0
3     usa      ios    male   32   54.0
4     deu  android  female   36   49.0

In [ ]:
agg_df.shape

(348, 5)

In [ ]:
agg_df["AGE"].max()

66

In [ ]:
str(agg_df["AGE"].max())

'66'

In [ ]:
'41_' + str(agg_df["AGE"].max())

'41_66'

In [ ]:
# ASSIGNMENT 5: Convert AGE variable to categorical variable and add it to agg_df.

# Construct the intervals in a persuasive way.
# For example: '0_18', '19_23', '24_30', '31_40', '41_70'.


# GÖREV 5: AGE değişkenini kategorik değişkene çeviriniz ve agg_df'e ekleyiniz.

# Age sayısal değişkenini kategorik değişkene çeviriniz.
# Aralıkları ikna edici olacağını düşündüğünüz şekilde oluşturunuz.
# Örneğin: '0_18', '19_23', '24_30', '31_40', '41_70'

# AGE değişkeninin nerelerden bölüneceğini belirtelim:
bins = [0, 18, 23, 30, 40, agg_df["AGE"].max()]
bins

[0, 18, 23, 30, 40, 66]

In [ ]:
# Bölünen noktalara karşılık isimlendirmelerin ne olacağını ifade edelim:
mylabels = ['0_18', '19_23', '24_30', '31_40', '41_' + str(agg_df["AGE"].max())]
mylabels

['0_18', '19_23', '24_30', '31_40', '41_66']

In [ ]:
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE  age_cat
0     bra  android    male   46   59.0        5
1     usa  android    male   36   59.0        5
2     fra  android  female   24   59.0        5
3     usa      ios    male   32   54.0        5
4     deu  android  female   36   49.0        5

In [ ]:
agg_df["age_cat"] = 5
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE  age_cat
0     bra  android    male   46   59.0        5
1     usa  android    male   36   59.0        5
2     fra  android  female   24   59.0        5
3     usa      ios    male   32   54.0        5
4     deu  android  female   36   49.0        5

In [ ]:
bins

[0, 18, 23, 30, 40, 66]

In [ ]:
mylabels

['0_18', '19_23', '24_30', '31_40', '41_66']

In [ ]:
# age'i bölelim:
agg_df["age_cat"] = pd.cut(agg_df["AGE"], bins, labels=mylabels)
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE age_cat
0     bra  android    male   46   59.0   41_66
1     usa  android    male   36   59.0   31_40
2     fra  android  female   24   59.0   24_30
3     usa      ios    male   32   54.0   31_40
4     deu  android  female   36   49.0   31_40

In [ ]:
agg_df["age_cat"].value_counts()

24_30    78
0_18     77
19_23    71
31_40    65
41_66    57
Name: age_cat, dtype: int64

In [ ]:
#ASSIGNMENT 6: Define new level based customers and add them as variables to the dataset.

# Attention! After creating customers_level_based values by list comprehension, these values need to be deduplicated.
# For example, there may be more than one of the following expressions: USA_ANDROID_MALE_0_18
# It is necessary to take them to groupby and get price averages.

# GÖREV 6: Yeni level based müşterileri tanımlayınız ve veri setine değişken olarak ekleyiniz.

# customers_level_based adında bir değişken tanımlayınız ve veri setine bu değişkeni ekleyiniz.Dikkat!
# list comp ile customers_level_based değerleri oluşturulduktan sonra bu değerlerin tekilleştirilmesi gerekmektedir.
# Örneğin birden fazla şu ifadeden olabilir: USA_ANDROID_MALE_0_18
# Bunları groupby'a alıp price ortalamalarını almak gerekmektedir.

In [ ]:
# feature names/ değişken isimleri:
agg_df.columns

Index(['COUNTRY', 'SOURCE', 'SEX', 'AGE', 'PRICE', 'age_cat'], dtype='object')

In [ ]:
# how do we reach the observation values?/ Gözlem değerlerine nasıl erişiriz?
#for row in agg_df.values:
#    print(row)

In [ ]:
#bra_android_male_41_66

In [ ]:
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE age_cat
0     bra  android    male   46   59.0   41_66
1     usa  android    male   36   59.0   31_40
2     fra  android  female   24   59.0   24_30
3     usa      ios    male   32   54.0   31_40
4     deu  android  female   36   49.0   31_40

In [ ]:
agg_df.values

In [ ]:
#for row in agg_df.values

In [ ]:
atilla = ['bra', 'android', 'male', 46, 59.0, '41_66']

In [ ]:
atilla[0]

'bra'

In [ ]:
atilla[1]

'android'

In [ ]:
atilla[2]

'male'

In [ ]:
atilla[0]+"_"+atilla[1]+"_"+atilla[2]

'bra_android_male'

In [ ]:
[row[0].upper() + "_" + row[1].upper() + "_" + row[2].upper() + "_" + row[5].upper() for row in agg_df.values]

In [ ]:
# We want to put the Values of the COUNTRY, SOURCE, SEX and age_cat variables next to each other 
# and concatenate them with an underscore.
# We can do this by using list comprehension.
# Let's perform the operation in such a way by using the observation values in the loop above:


# COUNTRY, SOURCE, SEX ve age_cat değişkenlerinin DEĞERLERİNİ yan yana koymak ve alt tireyle birleştirmek istiyoruz.
# Bunu list comprehension ile yapabiliriz.
# Yukarıdaki döngüdeki gözlem değerlerinin bize lazım olanlarını seçecek şekilde işlemi gerçekletirelim:

[row[0].upper() + "_" + row[1].upper() + "_" + row[2].upper() + "_" + row[5].upper() for row in agg_df.values]

['BRA_ANDROID_MALE_41_66',
 'USA_ANDROID_MALE_31_40',
 'FRA_ANDROID_FEMALE_24_30',
 'USA_IOS_MALE_31_40',
 'DEU_ANDROID_FEMALE_31_40',
 'DEU_ANDROID_FEMALE_41_66',
 'DEU_IOS_MALE_19_23',
 'USA_ANDROID_FEMALE_41_66',
 'FRA_IOS_MALE_19_23',
 'USA_IOS_MALE_41_66',
 'DEU_ANDROID_MALE_0_18',
 'BRA_ANDROID_FEMALE_24_30',
 'USA_ANDROID_FEMALE_41_66',
 'TUR_IOS_MALE_24_30',
 'DEU_ANDROID_MALE_31_40',
 'TUR_IOS_FEMALE_0_18',
 'BRA_ANDROID_FEMALE_41_66',
 'BRA_IOS_FEMALE_19_23',
 'TUR_ANDROID_FEMALE_31_40',
 'BRA_ANDROID_FEMALE_31_40',
 'TUR_IOS_MALE_31_40',
 'TUR_ANDROID_MALE_0_18',
 'USA_IOS_MALE_24_30',
 'BRA_IOS_MALE_41_66',
 'DEU_ANDROID_MALE_19_23',
 'USA_IOS_MALE_24_30',
 'TUR_ANDROID_FEMALE_0_18',
 'USA_ANDROID_MALE_41_66',
 'TUR_ANDROID_MALE_24_30',
 'USA_IOS_FEMALE_41_66',
 'FRA_ANDROID_MALE_19_23',
 'USA_IOS_MALE_31_40',
 'TUR_ANDROID_FEMALE_0_18',
 'FRA_IOS_MALE_0_18',
 'TUR_IOS_FEMALE_19_23',
 'TUR_ANDROID_FEMALE_31_40',
 'TUR_ANDROID_MALE_24_30',
 'FRA_ANDROID_MALE_19_23',
 'BRA_ANDROID_MALE_24_30',
 'CAN_ANDROID_MALE_24_30',
 'CAN_ANDROID_MALE_19_23',
 'USA_ANDROID_MALE_41_66',
 'TUR_ANDROID_MALE_24_30',
 'BRA_ANDROID_MALE_31_40',
 'BRA_ANDROID_MALE_0_18',
 'USA_IOS_FEMALE_19_23',
 'TUR_ANDROID_MALE_41_66',
 'BRA_IOS_FEMALE_19_23',
 'USA_IOS_MALE_41_66',
 'BRA_IOS_FEMALE_24_30',
 'DEU_ANDROID_FEMALE_31_40',
 'DEU_IOS_MALE_0_18',
 'FRA_ANDROID_FEMALE_19_23',
 'FRA_ANDROID_MALE_31_40',
 'TUR_IOS_FEMALE_31_40',
 'FRA_IOS_MALE_41_66',
 'BRA_ANDROID_FEMALE_31_40',
 'TUR_IOS_MALE_0_18',
 'BRA_IOS_FEMALE_41_66',
 'TUR_ANDROID_MALE_0_18',
 'TUR_ANDROID_FEMALE_41_66',
 'BRA_ANDROID_FEMALE_0_18',
 'USA_IOS_MALE_19_23',
 'USA_IOS_FEMALE_0_18',
 'FRA_IOS_MALE_31_40',
 'TUR_ANDROID_MALE_0_18',
 'DEU_ANDROID_MALE_31_40',
 'USA_IOS_FEMALE_24_30',
 'DEU_IOS_FEMALE_0_18',
 'CAN_IOS_MALE_0_18',
 'CAN_ANDROID_MALE_41_66',
 'BRA_ANDROID_FEMALE_24_30',
 'TUR_ANDROID_FEMALE_24_30',
 'CAN_IOS_MALE_0_18',
 'BRA_IOS_MALE_31_40',
 'FRA_ANDROID_FEMALE_0_18',
 'DEU_IOS_FEMALE_0_18',
 'CAN_ANDROID_FEMALE_0_18',
 'TUR_IOS_FEMALE_19_23',
 'DEU_ANDROID_MALE_19_23',
 'BRA_ANDROID_FEMALE_19_23',
 'USA_ANDROID_FEMALE_31_40',
 'BRA_IOS_MALE_19_23',
 'BRA_ANDROID_MALE_0_18',
 'BRA_ANDROID_MALE_24_30',
 'USA_ANDROID_MALE_24_30',
 'TUR_ANDROID_FEMALE_19_23',
 'DEU_IOS_MALE_41_66',
 'BRA_ANDROID_FEMALE_41_66',
 'BRA_IOS_MALE_0_18',
 'USA_IOS_FEMALE_24_30',
 'BRA_IOS_FEMALE_0_18',
 'BRA_IOS_MALE_31_40',
 'FRA_ANDROID_FEMALE_0_18',
 'USA_ANDROID_MALE_19_23',
 'BRA_IOS_FEMALE_0_18',
 'BRA_ANDROID_MALE_41_66',
 'BRA_ANDROID_FEMALE_24_30',
 'USA_ANDROID_MALE_24_30',
 'TUR_ANDROID_FEMALE_41_66',
 'USA_IOS_FEMALE_24_30',
 'DEU_IOS_FEMALE_24_30',
 'CAN_ANDROID_MALE_0_18',
 'BRA_ANDROID_FEMALE_0_18',
 'TUR_ANDROID_MALE_24_30',
 'USA_ANDROID_MALE_41_66',
 'USA_IOS_FEMALE_19_23',
 'USA_ANDROID_FEMALE_19_23',
 'FRA_IOS_MALE_19_23',
 'FRA_ANDROID_MALE_41_66',
 'BRA_ANDROID_MALE_41_66',
 'TUR_ANDROID_MALE_19_23',
 'BRA_ANDROID_FEMALE_24_30',
 'USA_ANDROID_FEMALE_31_40',
 'USA_IOS_FEMALE_24_30',
 'BRA_ANDROID_FEMALE_0_18',
 'TUR_IOS_FEMALE_19_23',
 'DEU_IOS_FEMALE_0_18',
 'USA_ANDROID_MALE_41_66',
 'BRA_ANDROID_MALE_19_23',
 'DEU_ANDROID_MALE_31_40',
 'BRA_IOS_FEMALE_31_40',
 'BRA_IOS_FEMALE_41_66',
 'BRA_ANDROID_MALE_24_30',
 'DEU_ANDROID_FEMALE_24_30',
 'BRA_IOS_MALE_0_18',
 'BRA_ANDROID_MALE_19_23',
 'USA_ANDROID_FEMALE_41_66',
 'BRA_ANDROID_MALE_19_23',
 'BRA_ANDROID_FEMALE_19_23',
 'USA_ANDROID_MALE_0_18',
 'BRA_IOS_FEMALE_31_40',
 'USA_IOS_MALE_24_30',
 'BRA_ANDROID_FEMALE_31_40',
 'USA_IOS_FEMALE_19_23',
 'USA_ANDROID_FEMALE_31_40',
 'FRA_IOS_MALE_19_23',
 'DEU_ANDROID_FEMALE_19_23',
 'CAN_IOS_MALE_0_18',
 'DEU_IOS_MALE_0_18',
 'USA_IOS_FEMALE_41_66',
 'DEU_IOS_MALE_24_30',
 'BRA_ANDROID_FEMALE_19_23',
 'USA_ANDROID_FEMALE_0_18',
 'BRA_IOS_MALE_19_23',
 'USA_ANDROID_MALE_19_23',
 'TUR_IOS_MALE_0_18',
 'USA_ANDROID_FEMALE_24_30',
 'USA_IOS_MALE_0_18',
 'BRA_IOS_MALE_31_40',
 'USA_ANDROID_MALE_19_23',
 'USA_ANDROID_MALE_31_40',
 'USA_ANDROID_MALE_31_40',
 'USA_IOS_FEMALE_41_66',
 'USA_ANDROID_MALE_0_18',
 'FRA_ANDROID_FEMALE_0_18',
 'USA_ANDROID_FEMALE_0_18',
 'USA_IOS_MALE_0_18',
 'BRA_ANDROID_FEMALE_31_40',
 'USA_IOS_FEMALE_31_40',
 'TUR_ANDROID_FEMALE_0_18',
 'DEU_ANDROID_FEMALE_24_30',
 'USA_ANDROID_MALE_0_18',
 'USA_ANDROID_MALE_24_30',
 'BRA_IOS_FEMALE_24_30',
 'USA_ANDROID_FEMALE_19_23',
 'BRA_IOS_FEMALE_41_66',
 'DEU_ANDROID_FEMALE_19_23',
 'USA_IOS_MALE_24_30',
 'FRA_IOS_MALE_24_30',
 'BRA_IOS_FEMALE_24_30',
 'CAN_ANDROID_FEMALE_41_66',
 'USA_IOS_FEMALE_19_23',
 'USA_IOS_MALE_19_23',
 'BRA_IOS_MALE_19_23',
 'TUR_IOS_FEMALE_19_23',
 'TUR_IOS_FEMALE_24_30',
 'TUR_IOS_FEMALE_24_30',
 'DEU_IOS_FEMALE_19_23',
 'TUR_IOS_FEMALE_41_66',
 'DEU_ANDROID_MALE_19_23',
 'BRA_IOS_FEMALE_24_30',
 'USA_ANDROID_MALE_0_18',
 'USA_IOS_MALE_41_66',
 'USA_ANDROID_FEMALE_41_66',
 'FRA_ANDROID_FEMALE_31_40',
 'USA_ANDROID_MALE_24_30',
 'USA_ANDROID_FEMALE_24_30',
 'DEU_IOS_FEMALE_19_23',
 'BRA_IOS_MALE_24_30',
 'USA_IOS_FEMALE_0_18',
 'USA_ANDROID_FEMALE_19_23',
 'BRA_IOS_MALE_0_18',
 'DEU_ANDROID_FEMALE_0_18',
 'BRA_ANDROID_FEMALE_31_40',
 'USA_IOS_MALE_0_18',
 'CAN_IOS_FEMALE_0_18',
 'TUR_ANDROID_FEMALE_0_18',
 'BRA_IOS_FEMALE_0_18',
 'FRA_IOS_FEMALE_0_18',
 'BRA_ANDROID_FEMALE_41_66',
 'BRA_IOS_MALE_41_66',
 'USA_ANDROID_MALE_24_30',
 'BRA_ANDROID_FEMALE_24_30',
 'USA_ANDROID_FEMALE_19_23',
 'BRA_ANDROID_MALE_0_18',
 'BRA_IOS_FEMALE_41_66',
 'USA_ANDROID_MALE_41_66',
 'FRA_IOS_FEMALE_31_40',
 'FRA_ANDROID_MALE_24_30',
 'DEU_IOS_FEMALE_31_40',
 'USA_IOS_FEMALE_0_18',
 'DEU_ANDROID_MALE_0_18',
 'USA_IOS_MALE_0_18',
 'BRA_IOS_FEMALE_19_23',
 'TUR_IOS_MALE_0_18',
 'USA_ANDROID_MALE_19_23',
 'USA_IOS_FEMALE_19_23',
 'USA_IOS_FEMALE_24_30',
 'BRA_IOS_MALE_0_18',
 'USA_ANDROID_FEMALE_0_18',
 'FRA_IOS_FEMALE_31_40',
 'BRA_IOS_FEMALE_0_18',
 'TUR_IOS_FEMALE_19_23',
 'BRA_ANDROID_MALE_24_30',
 'FRA_IOS_FEMALE_0_18',
 'CAN_ANDROID_FEMALE_19_23',
 'USA_ANDROID_FEMALE_0_18',
 'DEU_ANDROID_MALE_0_18',
 'USA_ANDROID_MALE_19_23',
 'DEU_ANDROID_FEMALE_31_40',
 'USA_ANDROID_FEMALE_41_66',
 'FRA_ANDROID_MALE_31_40',
 'DEU_ANDROID_FEMALE_24_30',
 'FRA_ANDROID_MALE_41_66',
 'BRA_IOS_FEMALE_24_30',
 'DEU_ANDROID_MALE_31_40',
 'TUR_ANDROID_FEMALE_19_23',
 'TUR_ANDROID_FEMALE_41_66',
 'BRA_ANDROID_FEMALE_41_66',
 'BRA_IOS_FEMALE_31_40',
 'BRA_ANDROID_FEMALE_0_18',
 'USA_IOS_MALE_19_23',
 'FRA_ANDROID_FEMALE_19_23',
 'DEU_ANDROID_FEMALE_24_30',
 'DEU_ANDROID_FEMALE_0_18',
 'BRA_ANDROID_FEMALE_19_23',
 'USA_IOS_MALE_24_30',
 'BRA_ANDROID_MALE_31_40',
 'FRA_ANDROID_FEMALE_24_30',
 'USA_IOS_MALE_31_40',
 'CAN_IOS_FEMALE_24_30',
 'CAN_ANDROID_FEMALE_19_23',
 'USA_IOS_FEMALE_24_30',
 'BRA_ANDROID_MALE_31_40',
 'USA_IOS_FEMALE_0_18',
 'DEU_ANDROID_FEMALE_41_66',
 'DEU_IOS_MALE_31_40',
 'USA_ANDROID_FEMALE_19_23',
 'DEU_ANDROID_MALE_19_23',
 'CAN_IOS_MALE_24_30',
 'TUR_IOS_MALE_41_66',
 'CAN_IOS_MALE_41_66',
 'BRA_ANDROID_MALE_19_23',
 'DEU_ANDROID_FEMALE_19_23',
 'BRA_IOS_MALE_19_23',
 'BRA_ANDROID_FEMALE_19_23',
 'TUR_ANDROID_FEMALE_19_23',
 'DEU_IOS_MALE_24_30',
 'USA_IOS_FEMALE_31_40',
 'USA_ANDROID_FEMALE_24_30',
 'DEU_IOS_FEMALE_0_18',
 'FRA_IOS_MALE_0_18',
 'BRA_ANDROID_MALE_24_30',
 'BRA_IOS_FEMALE_24_30',
 'BRA_IOS_MALE_41_66',
 'FRA_IOS_FEMALE_24_30',
 'USA_IOS_FEMALE_41_66',
 'USA_IOS_MALE_31_40',
 'USA_IOS_MALE_41_66',
 'FRA_ANDROID_MALE_0_18',
 'TUR_IOS_FEMALE_0_18',
 'BRA_IOS_MALE_41_66',
 'USA_ANDROID_FEMALE_24_30',
 'CAN_ANDROID_MALE_24_30',
 'BRA_IOS_FEMALE_19_23',
 'BRA_ANDROID_MALE_24_30',
 'CAN_ANDROID_FEMALE_0_18',
 'BRA_ANDROID_MALE_0_18',
 'USA_IOS_FEMALE_31_40',
 'FRA_IOS_MALE_0_18',
 'FRA_IOS_MALE_24_30',
 'BRA_ANDROID_MALE_41_66',
 'FRA_IOS_MALE_31_40',
 'CAN_IOS_MALE_31_40',
 'USA_IOS_FEMALE_41_66',
 'CAN_IOS_FEMALE_0_18',
 'DEU_IOS_MALE_19_23',
 'DEU_IOS_FEMALE_24_30',
 'DEU_ANDROID_MALE_31_40',
 'DEU_ANDROID_MALE_24_30',
 'DEU_ANDROID_FEMALE_31_40',
 'USA_IOS_MALE_41_66',
 'TUR_ANDROID_FEMALE_41_66',
 'BRA_IOS_MALE_31_40',
 'USA_ANDROID_MALE_31_40',
 'USA_ANDROID_MALE_41_66',
 'USA_ANDROID_FEMALE_24_30',
 'USA_ANDROID_MALE_31_40',
 'USA_ANDROID_MALE_31_40',
 'BRA_IOS_MALE_31_40',
 'USA_ANDROID_FEMALE_24_30',
 'TUR_ANDROID_MALE_31_40',
 'TUR_IOS_FEMALE_0_18',
 'BRA_ANDROID_MALE_24_30',
 'USA_ANDROID_FEMALE_31_40',
 'USA_ANDROID_FEMALE_31_40',
 'DEU_ANDROID_FEMALE_41_66',
 'FRA_IOS_FEMALE_0_18',
 'BRA_IOS_FEMALE_31_40',
 'TUR_IOS_MALE_19_23',
 'FRA_ANDROID_FEMALE_19_23',
 'DEU_ANDROID_FEMALE_0_18',
 'BRA_ANDROID_FEMALE_24_30',
 'USA_ANDROID_MALE_24_30',
 'CAN_ANDROID_FEMALE_0_18',
 'TUR_IOS_FEMALE_31_40',
 'FRA_ANDROID_MALE_19_23',
 'USA_ANDROID_MALE_41_66',
 'FRA_IOS_FEMALE_24_30',
 'BRA_ANDROID_FEMALE_31_40',
 'TUR_ANDROID_FEMALE_24_30',
 'USA_IOS_MALE_31_40',
 'USA_IOS_MALE_24_30',
 'BRA_ANDROID_FEMALE_24_30',
 'TUR_IOS_MALE_19_23',
 'USA_ANDROID_MALE_24_30',
 'BRA_IOS_MALE_31_40',
 'BRA_ANDROID_MALE_19_23',
 'TUR_ANDROID_MALE_19_23',
 'TUR_IOS_MALE_41_66',
 'BRA_IOS_FEMALE_31_40',
 'BRA_IOS_MALE_41_66',
 'USA_IOS_FEMALE_31_40',
 'USA_IOS_FEMALE_24_30',
 'CAN_ANDROID_FEMALE_24_30',
 'FRA_ANDROID_MALE_0_18',
 'DEU_ANDROID_MALE_24_30']

In [ ]:
# Let's add to the dataset/ Veri setine ekleyelim:
agg_df["customers_level_based"] = [row[0].upper() + "_" + row[1].upper() + "_" + row[2].upper() + "_" + row[5].upper() for row in agg_df.values]
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE age_cat     customers_level_based
0     bra  android    male   46   59.0   41_66    BRA_ANDROID_MALE_41_66
1     usa  android    male   36   59.0   31_40    USA_ANDROID_MALE_31_40
2     fra  android  female   24   59.0   24_30  FRA_ANDROID_FEMALE_24_30
3     usa      ios    male   32   54.0   31_40        USA_IOS_MALE_31_40
4     deu  android  female   36   49.0   31_40  DEU_ANDROID_FEMALE_31_40

In [ ]:
agg_df["customers_level_based"].value_counts()

BRA_ANDROID_MALE_24_30      7
USA_ANDROID_MALE_41_66      7
USA_IOS_FEMALE_24_30        7
BRA_ANDROID_FEMALE_24_30    7
USA_ANDROID_MALE_24_30      7
BRA_IOS_MALE_31_40          6
USA_ANDROID_FEMALE_24_30    6
USA_IOS_MALE_24_30          6
BRA_IOS_FEMALE_24_30        6
USA_ANDROID_MALE_31_40      6
BRA_ANDROID_FEMALE_31_40    6
USA_IOS_FEMALE_41_66        5
BRA_ANDROID_FEMALE_19_23    5
USA_ANDROID_FEMALE_31_40    5
TUR_IOS_FEMALE_19_23        5
BRA_IOS_MALE_41_66          5
BRA_ANDROID_MALE_19_23      5
USA_ANDROID_MALE_19_23      5
USA_ANDROID_FEMALE_19_23    5
DEU_ANDROID_MALE_31_40      5
BRA_IOS_FEMALE_31_40        5
USA_IOS_MALE_41_66          5
USA_ANDROID_FEMALE_41_66    5
USA_IOS_MALE_31_40          5
USA_IOS_FEMALE_19_23        5
DEU_IOS_FEMALE_0_18         4
USA_IOS_FEMALE_0_18         4
TUR_ANDROID_FEMALE_41_66    4
BRA_ANDROID_MALE_41_66      4
BRA_IOS_MALE_0_18           4
BRA_IOS_MALE_19_23          4
BRA_IOS_FEMALE_0_18         4
DEU_ANDROID_FEMALE_24_30    4
USA_ANDROID_MALE_0_18       4
USA_ANDROID_FEMALE_0_18     4
USA_IOS_MALE_0_18           4
USA_IOS_FEMALE_31_40        4
BRA_IOS_FEMALE_41_66        4
BRA_ANDROID_FEMALE_0_18     4
BRA_IOS_FEMALE_19_23        4
BRA_ANDROID_FEMALE_41_66    4
BRA_ANDROID_MALE_0_18       4
DEU_ANDROID_FEMALE_31_40    4
DEU_ANDROID_MALE_19_23      4
TUR_ANDROID_FEMALE_0_18     4
TUR_ANDROID_MALE_24_30      4
FRA_ANDROID_FEMALE_0_18     3
DEU_ANDROID_MALE_0_18       3
FRA_IOS_MALE_19_23          3
DEU_ANDROID_FEMALE_19_23    3
FRA_ANDROID_FEMALE_19_23    3
DEU_ANDROID_FEMALE_41_66    3
TUR_ANDROID_FEMALE_19_23    3
TUR_ANDROID_MALE_0_18       3
CAN_ANDROID_FEMALE_0_18     3
FRA_ANDROID_MALE_19_23      3
TUR_IOS_FEMALE_0_18         3
DEU_ANDROID_FEMALE_0_18     3
FRA_IOS_MALE_0_18           3
CAN_IOS_MALE_0_18           3
FRA_IOS_FEMALE_0_18         3
BRA_ANDROID_MALE_31_40      3
USA_IOS_MALE_19_23          3
TUR_IOS_MALE_0_18           3
FRA_IOS_FEMALE_31_40        2
CAN_IOS_FEMALE_0_18         2
DEU_IOS_MALE_24_30          2
TUR_IOS_MALE_19_23          2
DEU_IOS_MALE_19_23          2
FRA_ANDROID_FEMALE_24_30    2
TUR_IOS_FEMALE_24_30        2
TUR_IOS_MALE_41_66          2
FRA_IOS_MALE_24_30          2
DEU_IOS_FEMALE_19_23        2
DEU_IOS_MALE_0_18           2
TUR_ANDROID_MALE_19_23      2
CAN_ANDROID_MALE_24_30      2
FRA_ANDROID_MALE_31_40      2
TUR_IOS_FEMALE_31_40        2
FRA_ANDROID_MALE_0_18       2
FRA_ANDROID_MALE_41_66      2
DEU_ANDROID_MALE_24_30      2
FRA_IOS_MALE_31_40          2
TUR_ANDROID_FEMALE_24_30    2
FRA_IOS_FEMALE_24_30        2
TUR_ANDROID_FEMALE_31_40    2
DEU_IOS_FEMALE_24_30        2
CAN_ANDROID_FEMALE_19_23    2
TUR_ANDROID_MALE_31_40      1
DEU_IOS_FEMALE_31_40        1
CAN_IOS_MALE_24_30          1
DEU_IOS_MALE_31_40          1
CAN_IOS_FEMALE_24_30        1
CAN_IOS_MALE_31_40          1
CAN_IOS_MALE_41_66          1
CAN_ANDROID_MALE_41_66      1
FRA_ANDROID_MALE_24_30      1
BRA_IOS_MALE_24_30          1
FRA_ANDROID_FEMALE_31_40    1
TUR_IOS_FEMALE_41_66        1
CAN_ANDROID_FEMALE_41_66    1
CAN_ANDROID_MALE_0_18       1
DEU_IOS_MALE_41_66          1
FRA_IOS_MALE_41_66          1
TUR_ANDROID_MALE_41_66      1
CAN_ANDROID_MALE_19_23      1
TUR_IOS_MALE_31_40          1
TUR_IOS_MALE_24_30          1
CAN_ANDROID_FEMALE_24_30    1
Name: customers_level_based, dtype: int64

In [ ]:
# Let's choose the necessary features./ Gereksiz değişkenleri çıkaralım:
agg_df = agg_df[["customers_level_based", "PRICE"]]
agg_df.head()

      customers_level_based  PRICE
0    BRA_ANDROID_MALE_41_66   59.0
1    USA_ANDROID_MALE_31_40   59.0
2  FRA_ANDROID_FEMALE_24_30   59.0
3        USA_IOS_MALE_31_40   54.0
4  DEU_ANDROID_FEMALE_31_40   49.0

In [ ]:
#for i in agg_df["customers_level_based"].values:
#    print(i.split("_"))

In [ ]:
# We are one step closer to our goal.
# There is a small problem here. There will be many identical segments.
# For instance, there may be more than one segment USA_ANDROID_MALE_0_18.
# Let's check:




# Amacımıza bir adım daha yaklaştık.
# Burada ufak bir problem var. Birçok aynı segment olacak.
# örneğin USA_ANDROID_MALE_0_18 segmentinden birçok sayıda olabilir.
# kontrol edelim:

agg_df["customers_level_based"].value_counts()

BRA_ANDROID_MALE_24_30      7
USA_ANDROID_MALE_41_66      7
USA_IOS_FEMALE_24_30        7
BRA_ANDROID_FEMALE_24_30    7
USA_ANDROID_MALE_24_30      7
BRA_IOS_MALE_31_40          6
USA_ANDROID_FEMALE_24_30    6
USA_IOS_MALE_24_30          6
BRA_IOS_FEMALE_24_30        6
USA_ANDROID_MALE_31_40      6
BRA_ANDROID_FEMALE_31_40    6
USA_IOS_FEMALE_41_66        5
BRA_ANDROID_FEMALE_19_23    5
USA_ANDROID_FEMALE_31_40    5
TUR_IOS_FEMALE_19_23        5
BRA_IOS_MALE_41_66          5
BRA_ANDROID_MALE_19_23      5
USA_ANDROID_MALE_19_23      5
USA_ANDROID_FEMALE_19_23    5
DEU_ANDROID_MALE_31_40      5
BRA_IOS_FEMALE_31_40        5
USA_IOS_MALE_41_66          5
USA_ANDROID_FEMALE_41_66    5
USA_IOS_MALE_31_40          5
USA_IOS_FEMALE_19_23        5
DEU_IOS_FEMALE_0_18         4
USA_IOS_FEMALE_0_18         4
TUR_ANDROID_FEMALE_41_66    4
BRA_ANDROID_MALE_41_66      4
BRA_IOS_MALE_0_18           4
BRA_IOS_MALE_19_23          4
BRA_IOS_FEMALE_0_18         4
DEU_ANDROID_FEMALE_24_30    4
USA_ANDROID_MALE_0_18       4
USA_ANDROID_FEMALE_0_18     4
USA_IOS_MALE_0_18           4
USA_IOS_FEMALE_31_40        4
BRA_IOS_FEMALE_41_66        4
BRA_ANDROID_FEMALE_0_18     4
BRA_IOS_FEMALE_19_23        4
BRA_ANDROID_FEMALE_41_66    4
BRA_ANDROID_MALE_0_18       4
DEU_ANDROID_FEMALE_31_40    4
DEU_ANDROID_MALE_19_23      4
TUR_ANDROID_FEMALE_0_18     4
TUR_ANDROID_MALE_24_30      4
FRA_ANDROID_FEMALE_0_18     3
DEU_ANDROID_MALE_0_18       3
FRA_IOS_MALE_19_23          3
DEU_ANDROID_FEMALE_19_23    3
FRA_ANDROID_FEMALE_19_23    3
DEU_ANDROID_FEMALE_41_66    3
TUR_ANDROID_FEMALE_19_23    3
TUR_ANDROID_MALE_0_18       3
CAN_ANDROID_FEMALE_0_18     3
FRA_ANDROID_MALE_19_23      3
TUR_IOS_FEMALE_0_18         3
DEU_ANDROID_FEMALE_0_18     3
FRA_IOS_MALE_0_18           3
CAN_IOS_MALE_0_18           3
FRA_IOS_FEMALE_0_18         3
BRA_ANDROID_MALE_31_40      3
USA_IOS_MALE_19_23          3
TUR_IOS_MALE_0_18           3
FRA_IOS_FEMALE_31_40        2
CAN_IOS_FEMALE_0_18         2
DEU_IOS_MALE_24_30          2
TUR_IOS_MALE_19_23          2
DEU_IOS_MALE_19_23          2
FRA_ANDROID_FEMALE_24_30    2
TUR_IOS_FEMALE_24_30        2
TUR_IOS_MALE_41_66          2
FRA_IOS_MALE_24_30          2
DEU_IOS_FEMALE_19_23        2
DEU_IOS_MALE_0_18           2
TUR_ANDROID_MALE_19_23      2
CAN_ANDROID_MALE_24_30      2
FRA_ANDROID_MALE_31_40      2
TUR_IOS_FEMALE_31_40        2
FRA_ANDROID_MALE_0_18       2
FRA_ANDROID_MALE_41_66      2
DEU_ANDROID_MALE_24_30      2
FRA_IOS_MALE_31_40          2
TUR_ANDROID_FEMALE_24_30    2
FRA_IOS_FEMALE_24_30        2
TUR_ANDROID_FEMALE_31_40    2
DEU_IOS_FEMALE_24_30        2
CAN_ANDROID_FEMALE_19_23    2
TUR_ANDROID_MALE_31_40      1
DEU_IOS_FEMALE_31_40        1
CAN_IOS_MALE_24_30          1
DEU_IOS_MALE_31_40          1
CAN_IOS_FEMALE_24_30        1
CAN_IOS_MALE_31_40          1
CAN_IOS_MALE_41_66          1
CAN_ANDROID_MALE_41_66      1
FRA_ANDROID_MALE_24_30      1
BRA_IOS_MALE_24_30          1
FRA_ANDROID_FEMALE_31_40    1
TUR_IOS_FEMALE_41_66        1
CAN_ANDROID_FEMALE_41_66    1
CAN_ANDROID_MALE_0_18       1
DEU_IOS_MALE_41_66          1
FRA_IOS_MALE_41_66          1
TUR_ANDROID_MALE_41_66      1
CAN_ANDROID_MALE_19_23      1
TUR_IOS_MALE_31_40          1
TUR_IOS_MALE_24_30          1
CAN_ANDROID_FEMALE_24_30    1
Name: customers_level_based, dtype: int64

In [ ]:
#agg_df.groupby("customers_level_based").agg({"PRICE": "mean"})

In [ ]:
# For this reason, after groupby according to the segments, we should take the price averages and deduplicate the segments.

# Bu sebeple segmentlere göre groupby yaptıktan sonra price ortalamalarını almalı ve segmentleri tekilleştirmeliyiz.
agg_df = agg_df.groupby("customers_level_based").agg({"PRICE": "mean"})

In [ ]:
# customers_level_based is in the index. Let's turn that into a variable. 

#customers_level_based index'te yer almaktadır. Bunu değişkene çevirelim.
agg_df = agg_df.reset_index()
agg_df.head()

      customers_level_based      PRICE
0   BRA_ANDROID_FEMALE_0_18  35.645303
1  BRA_ANDROID_FEMALE_19_23  34.077340
2  BRA_ANDROID_FEMALE_24_30  33.863946
3  BRA_ANDROID_FEMALE_31_40  34.898326
4  BRA_ANDROID_FEMALE_41_66  36.737179

In [ ]:
# Let's check. There should be only one persona for each.
# kontrol edelim. her bir persona'nın 1 tane olmasını bekleriz:
agg_df["customers_level_based"].value_counts()
agg_df.head()

      customers_level_based      PRICE
0   BRA_ANDROID_FEMALE_0_18  35.645303
1  BRA_ANDROID_FEMALE_19_23  34.077340
2  BRA_ANDROID_FEMALE_24_30  33.863946
3  BRA_ANDROID_FEMALE_31_40  34.898326
4  BRA_ANDROID_FEMALE_41_66  36.737179

In [ ]:
# ASSIGNMENT 7: Segment new customers (USA_ANDROID_MALE_0_18).

# Segment by PRICE, and add segments to agg_df with the feature name "SEGMENT".
# Describe the segments.

# GÖREV 7: Yeni müşterileri (USA_ANDROID_MALE_0_18) segmentlere ayırınız.

# PRICE'a göre segmentlere ayırınız,
# segmentleri "SEGMENT" isimlendirmesi ile agg_df'e ekleyiniz,
# segmentleri betimleyiniz,

agg_df["SEGMENT"] = pd.qcut(agg_df["PRICE"], 4, labels=["D", "C", "B", "A"])
agg_df.head()

      customers_level_based      PRICE SEGMENT
0   BRA_ANDROID_FEMALE_0_18  35.645303       B
1  BRA_ANDROID_FEMALE_19_23  34.077340       C
2  BRA_ANDROID_FEMALE_24_30  33.863946       C
3  BRA_ANDROID_FEMALE_31_40  34.898326       B
4  BRA_ANDROID_FEMALE_41_66  36.737179       A

In [ ]:
agg_df.groupby("SEGMENT").agg({"PRICE": "mean"})

             PRICE
SEGMENT
D        29.206780
C        33.509674
B        34.999645
A        38.691234

In [ ]:
#ASSIGNMENT 8: Classify the new customers and estimate how much money they can bring.

#Which segment does a 33-year-old Turkish woman using ANDROID belong to and how much money is expected to bring on average?

# GÖREV 8: Yeni gelen müşterileri sınıflandırınız ne kadar gelir getirebileceğini tahmin ediniz.

# 33 yaşında ANDROID kullanan bir Türk kadını hangi segmente aittir ve ortalama ne kadar gelir kazandırması beklenir?
new_user = "TUR_ANDROID_FEMALE_31_40"
agg_df[agg_df["customers_level_based"] == new_user]

       customers_level_based      PRICE SEGMENT
72  TUR_ANDROID_FEMALE_31_40  41.833333       A

In [ ]:
# #Which segment does a 35-year-old French woman using IOS belong to and how much money is expected to bring on average?

# 35 yaşında IOS kullanan bir Fransız kadını hangi segmente ve ortalama ne kadar gelir kazandırması beklenir?
new_user = "FRA_IOS_FEMALE_31_40"
agg_df[agg_df["customers_level_based"] == new_user]

   customers_level_based      PRICE SEGMENT
63  FRA_IOS_FEMALE_31_40  32.818182       C